Checks: '-*,
modernize-*,
bugprone-*,
performance-*,
readability-*,
clang-analyzer-*,
cert-*,
hicpp-*,
cppcoreguidelines-*,
-modernize-use-trailing-return-type,
-cppcoreguidelines-special-member-functions,hicpp-special-member-functions,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-clang-diagnostic-error,
-hicpp-special-member-functions,
'