Language:        Cpp
BasedOnStyle:    LLVM
Standard:        c++20

ColumnLimit:              100
IndentWidth:              4
TabWidth:                 4
UseTab:                   Never
ContinuationIndentWidth:  4

# Accolades
BreakBeforeBraces:        Allman

# Includes
SortIncludes:             CaseSensitive
IncludeBlocks:            Regroup

# Espacement
SpaceBeforeParens:        ControlStatements
SpaceInEmptyParentheses:  false
SpacesInAngles:           Never

PointerAlignment:         Right

NamespaceIndentation:     None
CompactNamespaces:        false